:root {
    --pixel-size: 10;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #CAC4F8;
}

@font-face {
   font-family: 'Pixelify Sans';
   src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

 @media( min-width: 700px ) {
    :root {
       --pixel-size: 3px;
    }
 }
 @media( min-width: 1000px ) {
    :root {
       --pixel-size: 4px;
    }
 }
 /* @media( min-width: 1000px ) {
    :root {
       --pixel-size: 5px;
    }
 } */
 
 h1{
   font-family: 'Pixelify Sans', sans-serif;
   position: absolute;
   top: 0px;
   left: 70px;
   font-size: 50px;
  font-weight: 600;
  background-image: radial-gradient(#553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
}

h2{
   font-family: 'Pixelify Sans', sans-serif;
   position: absolute;
   top: 350px;
   left: 550px;
   font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #FD9346,  #FF6200);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 html, body {
    height: 100%;
 }
 
 body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .pixel-art {
    image-rendering: pixelated;
 }
 
 .howtoPlay{
   position: fixed;
   top: 17%;
   right: 73%; /* Initial position, starting from the right side of the viewport */
   bottom: 0;
   width: 350px;
   height: 50%;
   background: black;
   border-radius: 8px;
   opacity: 0.85;
   border: 3px solid white; /* Border color and thickness */
   animation: slideInRight 0.5s forwards; /* Animation for sliding */
}

@keyframes slideInRight {
   from {
     right: 0px; /* Start from the right side of the viewport */
   }
   to {
     right: 3%; /* Slide to the specified position */
   }
 }

 .titleInstruction{
   position: relative;
   color: #FFA17E;
   padding: 20px;
   font-size: 19px;
   font-family:'Pixelify Sans', sans-serif;
   font-weight: 500;
 }

 .instructions{
   position: relative;
   color: white;
   font-family:'Pixelify Sans', sans-serif;
   font-size: 16px;
 }

 .instructions strong{
   color: #FFA17E;
 }

 .clouds1 {
   position: fixed;
   bottom: 100px;
   top: 0px;
   left: 0;
   right: 0;
   z-index: -1;
   animation: moveClouds1 20s linear infinite; /* Adjust duration as needed */
}

.clouds2 {
   position: fixed;
   bottom: 0px;
   top: 100px;
   left: 0; /* Start from the left side */
   right: 100%;
   z-index: -1;
   animation: moveClouds2 15s linear infinite; /* Adjust duration as needed */
}

@keyframes moveClouds1 {
  0% {
    transform: translateX(100%); /* Start from the right side */
  }
  100% {
    transform: translateX(-100%); /* Move towards the left */
  }
}

@keyframes moveClouds2 {
  0% {
    transform: translateX(0%); /* Start from the left side */
  }
  100% {
    transform: translateX(100%); /* Move towards the right */
  }
}

.character-landing{
   position: relative;
   bottom: 90px;
   border-radius: 10px;
   border: 2px solid black;
}

 #background-landing {
   height: 100%;
   width: 100%;
 }

 .landing-page #button-start {
   position:absolute;
   height: 83px;
   width: auto;
   top: 445px;
   left: 560px;
   cursor: pointer;
}


 .frame {
    /* This is just for Pen decoration */
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    outline: var(--pixel-size) solid #fff;
    z-index:1; 
    position:relative;
 }
 
 .camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61ddf7;
    position:relative;
 }
 
 .map {
    image-rendering: pixelated;
    background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
 }
 
 .character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow:hidden;
 }
 
 .shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
 }
 
 .character_spritesheet {
    position: absolute;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
 }
 
 .character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
 }
 .character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
 }
 .character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite; 
 }
 
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-100%,0%,0);
   }
 }
 
 .dpad {
    position:absolute;
    right: calc(var(--pixel-size) * 2);
    bottom: calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 37);
    height: calc(var(--pixel-size) * 38);
 }
 .dpad-button {
    appearance:none;
    outline:0;
    border:0;
    background:transparent;
    padding:0;
    cursor:pointer;
 }
 .dpad-button svg {
    display:block;
    height: calc(var(--pixel-size) * 13);
 }
 
 .dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
 .dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }
 
 .dpad-up {
    position: absolute;
    left: calc(var(--pixel-size) * 12);
    top:0;
 }
 .dpad-down {
    position: absolute;
    bottom:var(--pixel-size);
    left: calc(var(--pixel-size) * 12);
 }
 .dpad-left {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    left:0;
 }
 .dpad-right {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    right:0;
 }
 
 .dpad {
    user-select:none;
 }
 
 
 .corner_topleft,
 .corner_topright,
 .corner_bottomleft,
 .corner_bottomright {
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    background: var(--bg);
    z-index:2;
 }
 
 .corner_topleft {
    top: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_topright {
    top: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 .corner_bottomleft {
    bottom: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_bottomright {
    bottom: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 
 .headline {
    position:absolute;
    top:calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
 }
 
 .overlay {
   display: none;
   position: fixed;
   top: 25%;
   left: 37%;
   right: 0;
   bottom: 0;
   width: 400px;
   height: 50%;
   background: #FFA17E;
   border-radius: 20px;
   animation: revealOverlay 0.5s ease forwards; /* Animation for revealing */
   border: 2px solid white;
}

@keyframes revealOverlay {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.overlay.bouncy {
   animation: bounceOverlay 0.5s ease forwards; /* Animation for bounce */
}

@keyframes bounceOverlay {
  20%,
  50%,
  80% {
    transform: translateY(-10px);
  }
  40%,
  60% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}



.overlay-fox{
   width: 32px;
   height: 32px;
   position: fixed;
   transform: scale(3);
   image-rendering: pixelated;
   left: 130px;
   top: 50px;  
   background-image: url('images/FoxSpriteSheet.png');
   background-repeat: no-repeat;
   animation: play 1s steps(4) infinite; 
   overflow: hidden;
}

.overlay .Guide {
   font-family: 'Pixelify Sans', sans-serif;
   position: fixed;
   top:300px;
   left: 75px;
   font-weight: bold;
   color: black;

}

.overlay-content {
   font-family: 'Pixelify Sans', sans-serif;
   position: relative;
   margin-right: 20px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: black;
   font-weight: 500;
}

.units{
   font-family: 'Pixelify Sans', sans-serif;
   position: fixed;
   display: flex;
   color: whitesmoke; 
   flex-direction: row;
   top: 270px;
   left: 106px;
   cursor: pointer;
   gap:15px ;
   font-size: 20px;
 }

 .unit2Modal{
   display: none;
 }

 .unit3Modal{
   display: none;
 }

.unit1Modal{
   display: none;
   position: fixed;
   top: -50px;
   left: -525px;
   right: 0;
   bottom: 0;
   width: 380px;
   height: 100%;
   background: white;
   opacity: 20%;
   border-radius: 5px;
   animation: revealOverlay 0.5s ease forwards;
   border: 3px solid #FFA17E;
   z-index: 20000;
   cursor: default;
}

.unit2Modal{
   display: none;
   position: fixed;
   top: -50px;
   left: -525px;
   right: 0;
   bottom: 0;
   width: 380px;
   height: 100%;
   background: white;
   opacity: 20%;
   border-radius: 5px;
   animation: revealOverlay 0.5s ease forwards;
   border: 3px solid #FFA17E;
   z-index: 20000;
   cursor: default;
}

.unit3Modal{
   display: none;
   position: fixed;
   top: -50px;
   left: -525px;
   right: 0;
   bottom: 0;
   width: 380px;
   height: 100%;
   background: white;
   opacity: 20%;
   border-radius: 5px;
   animation: revealOverlay 0.5s ease forwards;
   border: 3px solid #FFA17E;
   z-index: 20000;
   cursor: default;
}

.close-units{
   font-family: 'Pixelify Sans', sans-serif;
   position: fixed;
   top: 8px;
   left: 306px;
   font-size: 20px;
   font-weight: 500;
   text-decoration: none;
   border: none;
   background: none;
   cursor: pointer;
   color: black;
   z-index: 1001;
}

.close-units:hover{
   color: black;
   opacity: 50%;
}

.unit1Modal .titleStatement1{
   position: relative;
   font-size: 24px;
   left: 20px;
   color: #FFA17E;
   padding: 4px;
   font-weight: 500;
}

.unit3Modal .titleStatement3{
   position: relative;
   font-size: 24px;
   left: 20px;
   color: #FFA17E;
   padding: 4px;
   font-weight: 500;
}

.unit2Modal .titleStatement2{
   position: relative;
   font-size: 24px;
   left: 20px;
   color: #FFA17E;
   padding: 4px;
   font-weight: 500;
}

.statement1{
   color: black;
   font-size: 15px;
   overflow-y: auto; 
    max-height: 200px;
}

.unit1{
 color: white;
}

.statement2{
   color: black;
   font-size: 15px;
   overflow-y: auto; 
    max-height: 200px;
}

.statement3{
   color: black;
   font-size: 15px;
   overflow-y: auto; 
    max-height: 200px;
}

div#peekaboo{
   position:fixed;
   bottom:0px;
 /* the user can't see the peekaboo at first */
   right:-90%;
 background-image: url("images/sir.png");
   
   padding:20px;
   width:100%;
   height:40px;
   font-size:28px;
}

.unit2{
   color: white;
}

.unit3{
   color: white;
}
.overlay-character{
   position: absolute;
   left: 180px;
   top: -20px;  
}

#backButton {
   font-family: 'Pixelify Sans', sans-serif;
   position: fixed;
   bottom: 320px;
   right: 10px; 
   font-size: 20px;
   font-weight: 500;
   text-decoration: none;
   border: none;
   background: none;
   cursor: pointer;
   color: white;
   z-index: 1001;
}

.showPlanet{
   font-family: 'Pixelify Sans', sans-serif;
   position: relative;
   left: 65px;
   font-size: 20px;
   font-weight: 500;
   text-decoration: none;
   border: none;
   background: none;
   cursor: pointer;
   color: #FFA17E;
}

.showPlanet:hover{
   color: red;
}

.clickBelow{
   color: red;
}

#backButton:hover {
   color: black;
   opacity: 80%;
}

.typewriter {
   overflow: hidden;
   margin: 0 auto;
   letter-spacing: .15em;
}

 /* The typing effect */
 @keyframes typing {
   from { width: 0 }
   to { width: 100% }
 }
 
 /* The typewriter cursor effect */
 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: orange }
 }


 /*Sprite fox*/
.spriteFox{
   width: 32px;
   height: 32px;
   position: absolute;
   transform: scale(3);
   image-rendering: pixelated;
   left: 78px;
   top: 250px;  
   background-image: url('images/FoxSpriteSheet.png');
   background-repeat: no-repeat;
   animation: play 1s steps(4) infinite; 
   overflow: hidden;
}

@keyframes play {
   from {
     background-position: 0px; 
   }
   to {
     background-position: -256px;
   }
 }
